<ion-header>

  <ion-toolbar>
  
  <ion-title>
  
  Quiz App
  
  </ion-title>
  
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content >
  
  <ion-card>
  
  <ion-card-title class="text-center">
  
  Question 1
  
  </ion-card-title>
  
  <ion-card-content class="text-center">
  
  comment peut on arreter la pollution ?
  
  </ion-card-content>
  
  </ion-card>
  
  <ion-list radio-group no-lines padding>
  
  <ion-item  >
  
  <!-- <ion-radio value=”A” ></ion-radio> -->
  
  <ion-text class="prefix">
    <h2>A</h2>
  </ion-text>
  &nbsp;&nbsp;
  <ion-label style="font-size: 18px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Reponse</ion-label>
  
  </ion-item>
  
  <ion-item>
    <!-- <ion-radio value=”A” ></ion-radio> -->
  
 
  
  <ion-text class="prefix">
    <h2>B</h2>
   
  </ion-text>
  &nbsp;&nbsp;
  <ion-label style="font-size: 18px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Reponse</ion-label>
  
  </ion-item>
  
  <ion-item >
  
    <!-- <ion-radio value=”A” ></ion-radio> -->

  
  <ion-text class="prefix">
    <h2>C</h2>
  </ion-text>
  &nbsp;&nbsp;
  <ion-label style="font-size: 18px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Reponse</ion-label>
  
  </ion-item>
  

  
  
  
  </ion-list>
  <p></p>
  <div class="text-center">
  <button class="text-center btn">Repondre</button>
  </div>

  
  </ion-content>