.form{
    margin-top: 10%;
    ion-item{
        border-radius: 5px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        margin-bottom: 10px;;
        
    }
}

// .logo{
//     margin-top: 20%;
// }

ion-button{
    text-transform: none;
}
.left{
    margin-top: 10px;
    margin-left:-15px;
}
    // .right{
    //     margin-right: -30%;
    // }
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 h2 span { 
    background:#fff; 
    padding:0 10px; 
} 
.button-color-changed {
    background-color:  #fff;
}