<ion-content class="ion-padding ion-text-center">

  <p></p>
  <br>
    <div class="logo">
      <div class="flex">
        <div class="box-border">
          <div class="border-white">
            <div class="img-box">
              <img src="../../../assets/icon/care.png" style="width: 50px; height: 50px;">
            </div>
          </div>
        </div>
        
      </div>
     <i > <h2><span >Login</span></h2> </i> 
    </div>
    
    <div class="form">
    <ion-item lines="none">
      <ion-input type="mail" placeholder="Entrer votre email" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  
  
     &nbsp;&nbsp; <ion-button  class="right" fill="clear" routerLink ="/forgot-password-form">Mot de passe oublié ?</ion-button>
  
  
    <ion-button color="dark" (click)='onLogin()'><i>Se Connecter</i></ion-button>
  
  </div>
  <div class="form-group">
    <p  class="text-danger">
        </p>
  
    <p class="text-danger">
      </p>
  
   
  </div>
  <br>
  <h2><span>Ou</span></h2>
  <p></p>
  
  <ion-button type="button" expand="block" color="tertiary" >
    <ion-icon name="logo-facebook" slot="start" ></ion-icon>
    Se connecter avec facebook
  </ion-button>
  <p></p>
  <ion-button type="button" expand="block" color="danger" (click)="OnLoginWithGoogle()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Se connecter avec Google
  
  </ion-button>
  <p></p>
  <br>
  
  <ion-button  class="left" fill="clear">
      
    <b routerLink="/register">Créer Compte</b> 
    </ion-button>


  <!-- <p>Pas encore inscrit? <a (click)='register()'> Créer Compte</a> </p> -->
  
  </ion-content>